body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: #4CAF50; /* verde moderno */
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
}

.link-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
    cursor: pointer;
}
